# Basic Text Features

In [49]:
text = "This has been a great day! I love my life"

In [52]:
words = text.split()
words

['This', 'has', 'been', 'a', 'great', 'day!', 'I', 'love', 'my', 'life']

In [54]:
# Feature 1 - Count of words
len(words)

10

In [57]:
# Count number of spaces
text.count(" ")

9

In [58]:
# Number of characters
len(text)

41

In [59]:
# Number of characters without spaces
len(text) - text.count(' ')

32

In [60]:
(len(text) - text.count(' ')) / len(words)

3.2

In [68]:
# Average word length

word_len = []
for i in text.split():
    word_len.append(len(i))

word_len

[4, 3, 4, 1, 5, 4, 1, 4, 2, 4]

In [70]:
sum(word_len)/len(text.split())

3.2

# Features for Twitter Dataset

In [71]:
import pandas as pd

In [72]:
tweets = pd.read_csv("tweets.csv")

In [91]:
tweets.head()

,id,label,tweet,word_count,space_count,Character_count,Avg_word_len
0,1,0,#fingerprint #Pregnancy Test https://goo.gl/h1...,13,12,116,8.923077
1,2,0,Finally a transparant silicon case ^^ Thanks t...,17,16,115,6.764706
2,3,0,We love this! Would you go? #talk #makememorie...,15,14,109,7.266667
3,4,0,I'm wired I know I'm George I was made that wa...,17,16,96,5.647059
4,5,1,What amazing service! Apple won't even talk to...,23,22,102,4.434783

In [74]:
# Word Count
tweets["word_count"] = [len(i.split()) for i in tweets.tweet]

In [76]:
# Space Count
tweets["space_count"] = [i.count(' ') for i in tweets.tweet]

In [78]:
# Character Count
tweets['Character_count'] = [len(i) - i.count(' ') for i in tweets.tweet]

In [89]:
# Average word-length feature
Avg_word_len = []

for i in range(len(tweets)):
    #Avg_word_len.append(tweets.word_count[i] / tweets.Character_count[i])
    Avg_word_len.append(tweets.Character_count[i] / tweets.word_count[i])

In [90]:
tweets["Avg_word_len"] = Avg_word_len

## Build the model

In [92]:
tweets.head()

,id,label,tweet,word_count,space_count,Character_count,Avg_word_len
0,1,0,#fingerprint #Pregnancy Test https://goo.gl/h1...,13,12,116,8.923077
1,2,0,Finally a transparant silicon case ^^ Thanks t...,17,16,115,6.764706
2,3,0,We love this! Would you go? #talk #makememorie...,15,14,109,7.266667
3,4,0,I'm wired I know I'm George I was made that wa...,17,16,96,5.647059
4,5,1,What amazing service! Apple won't even talk to...,23,22,102,4.434783

In [94]:
X = tweets[["word_count","space_count", "Character_count", "Avg_word_len"]]
y = tweets.label

In [95]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import StandardScaler # for standardization

In [96]:
# split dataset into train and test set
xtrain, xtest, ytrain, ytest = train_test_split(StandardScaler().fit_transform(X), y, 
                                                test_size=0.33, random_state=42)

In [97]:
lr = LogisticRegression()

lr.fit(xtrain, ytrain)

LogisticRegression()

In [98]:
pred = lr.predict(xtest)

In [99]:
roc_auc_score(pred, ytest)

0.7557869910625621

# Regex

In [105]:
path = "C:\desktop\nyfolder"
print("String", path)

String C:\desktop
yfolder

In [106]:
path = r"C:\desktop\nyfolder"
print("String", path)

String C:\desktop\nyfolder